/* line 1, content/css/_home.sass */
.home-page {
  background-image: url(/images/bg_ani.png);
}
/* line 6, content/css/_home.sass */
.home-page .top-story {
  margin-bottom: 1.5em;
  float: left;
  width: 900px;
  padding-top: 1.5em;
}
/* line 11, content/css/_home.sass */
.home-page .top-story .story {
  width: 300px;
  padding-left: 600px;
}
/* line 14, content/css/_home.sass */
.home-page .top-story .story h4 {
  margin-bottom: 0;
}
/* line 16, content/css/_home.sass */
.home-page .top-story .story p {
  font-size: 0.8em;
  line-height: 1.875;
  margin-bottom: 0;
}
/* line 56, content/css/_home.sass */
.home-page .projects {
  width: 585px;
  float: left;
  margin-right: 15px;
  margin-top: 4.5em;
}
/* line 62, content/css/_home.sass */
.home-page .projects .project {
  float: left;
  position: relative;
  margin-right: 15px;
  margin-bottom: 1.5em;
  width: 285px;
  height: 144px;
  z-index: 1;
  -webkit-perspective: 1000;
}
/* line 72, content/css/_home.sass */
.home-page .projects .project .card {
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: all 0.3s ease-out;
}
/* line 78, content/css/_home.sass */
.home-page .projects .project:hover .card {
  -webkit-transform: rotateX(180deg);
}
/* line 81, content/css/_home.sass */
.home-page .projects .face.back {
  display: none;
}
/* line 84, content/css/_home.sass */
.home-page .projects .face {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
}
/* line 90, content/css/_home.sass */
.home-page .projects .face.back {
  display: block;
  -webkit-transform: rotateX(180deg);
  -webkit-box-sizing: border-box;
  background-color: white;
}
/* line 96, content/css/_home.sass */
.home-page .projects .face.back h4 {
  margin-bottom: 0;
  font-size: 1.5em;
  line-height: 2;
  font-weight: 700;
}
/* line 102, content/css/_home.sass */
.home-page .projects .face.back .meta {
  font-size: 0.8em;
  line-height: 1.875;
}
/* line 106, content/css/_home.sass */
.home-page .projects .face.back .type {
  background-color: #bda586;
  background-color: rgba(189, 165, 134, 0.45);
  margin-right: 2px;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius: 2em;
  border-top: 1px solid white;
  padding: 0.5em 1em;
  font-weight: bold;
}
/* line 117, content/css/_home.sass */
.home-page #project-2, .home-page #project-4, .home-page #project-6, .home-page #project-8, .home-page #project-10, .home-page #project-12 {
  margin-right: 0;
}
/* line 134, content/css/_home.sass */
.home-page #about {
  margin-right: 0;
  width: 285px;
  padding-right: 0;
  padding-top: 0;
  float: left;
}
/* line 140, content/css/_home.sass */
.home-page #about h2 {
  margin-bottom: 0;
}
/* line 142, content/css/_home.sass */
.home-page #about .inner {
  padding: 1.5em;
  background-color: #f9f8a4;
  background-color: rgba(246, 215, 17, 0.18);
}
/* line 146, content/css/_home.sass */
.home-page #about i {
  font-weight: bold;
  margin-bottom: 0;
}
