/* line 5, content/css/_layout.sass */
html { min-height: 100%; margin-bottom: 1px; }

/* line 9, content/css/_layout.sass */
body { color: #3d423d; font-family: "Lucida Grande", Lucida, Verdana, sans-serif; background: #cccccc url(/images/bg_pinstripe.png) repeat; }

/* line 14, content/css/_layout.sass */
.container { width: 900px; margin: 0 auto; }

/* line 18, content/css/_layout.sass */
header { float: left; background: #cccccc url(/images/bg_header.png) repeat-x bottom; border-bottom: 1px solid #ececec; width: 100%; height: 100px; }
/* line 27, content/css/_layout.sass */
header .container { position: relative; }
/* line 30, content/css/_layout.sass */
header .logo { position: absolute; top: 32px; }
/* line 34, content/css/_layout.sass */
header nav { position: absolute; top: 32px; right: 15px; }
/* line 39, content/css/_layout.sass */
header nav form { float: left; }
/* line 41, content/css/_layout.sass */
header nav form button { position: relative; border: 0; padding: 0; cursor: pointer; overflow: visible; padding: 0 10px 0 0; font-size: 1.067em; text-align: center; background: transparent url(/images/rounded_button_30.png) no-repeat right -280px; }
/* line 10, content/css/./_button.sass */
header nav form button::-moz-focus-inner { border: none; }
/* line 13, content/css/./_button.sass */
header nav form button span { position: relative; display: block; white-space: nowrap; }
/* line 19, content/css/./_button.sass */
header nav form button:focus { outline: 0; }
/* line 31, content/css/./_button.sass */
header nav form button span { padding: 7px 0 0 10px; height: 23px; background: transparent url(/images/rounded_button_30.png) no-repeat left top; color: #444444; text-shadow: #dddddd 0px 1px 0px; }
/* line 39, content/css/./_button.sass */
header nav form button:hover { background-position: right -350px; }
/* line 42, content/css/./_button.sass */
header nav form button.hover { background-position: right -350px; }
/* line 45, content/css/./_button.sass */
header nav form button:hover span, header nav form button.hover span { background-position: 0 -70px; }
/* line 48, content/css/./_button.sass */
header nav form button:active { background-position: right -420px; }
/* line 51, content/css/./_button.sass */
header nav form button.active { background-position: right -420px; }
/* line 54, content/css/./_button.sass */
header nav form button:active span, header nav form button.active span { background-position: 0 -140px; }
/* line 57, content/css/./_button.sass */
header nav form button.clicked { background-position: right -490px; cursor: default; }
/* line 61, content/css/./_button.sass */
header nav form button.clicked span { background-position: 0 -210px; color: white; text-shadow: #222222 0px 1px 0px; }

/* line 46, content/css/_layout.sass */
footer { width: 100%; float: left; padding-top: 3em; margin-top: 3em; padding-bottom: 1.5em; background-color: #a0a0a0; background-color: rgba(0, 0, 0, 0.1); border-top: 1px solid rgba(255, 255, 255, 0.6); }
/* line 56, content/css/_layout.sass */
footer .byline, footer .menu { float: left; width: 200px; margin-right: 25px; }
/* line 62, content/css/_layout.sass */
footer .byline h4, footer .menu h4 { margin-bottom: 0; }
/* line 64, content/css/_layout.sass */
footer .byline p, footer .menu p { font-size: 0.8em; line-height: 1.875em; }
/* line 67, content/css/_layout.sass */
footer .byline .nav, footer .menu .nav { padding-left: 0; list-style-type: none; }
/* line 70, content/css/_layout.sass */
footer .byline .nav li, footer .menu .nav li { font-size: 0.8em; line-height: 1.875em; }
/* line 73, content/css/_layout.sass */
footer #menu-3 { margin-right: 0; }
/* line 75, content/css/_layout.sass */
footer .menu .nav a { color: #3a403b; text-decoration: none; }
