.about {
	padding-top: 3em;
	float: left;
	margin-right: 15px;
	padding-bottom: 3em;
	width: 585px;
}

/* @group info */

.infos {
	float: left;
	width: 900px;
}

.info {
	width: 235px;
	margin-right: 15px;
	float: left;
	padding-right: 50px;
}

#info-3 {
	margin-right: 0;
}



/* @end */