/* line 14, /Library/Ruby/Gems/1.8/gems/compass-0.10.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; }

/* line 17, /Library/Ruby/Gems/1.8/gems/compass-0.10.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body { line-height: 1; color: black; background: white; }

/* line 19, /Library/Ruby/Gems/1.8/gems/compass-0.10.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul { list-style: none; }

/* line 21, /Library/Ruby/Gems/1.8/gems/compass-0.10.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table { border-collapse: separate; border-spacing: 0; vertical-align: middle; }

/* line 23, /Library/Ruby/Gems/1.8/gems/compass-0.10.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

/* line 25, /Library/Ruby/Gems/1.8/gems/compass-0.10.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote { quotes: "" ""; }
/* line 96, /Library/Ruby/Gems/1.8/gems/compass-0.10.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after { content: ""; }

/* line 27, /Library/Ruby/Gems/1.8/gems/compass-0.10.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img { border: none; }

/* line 1, content/css/./_typography.sass */
html { font-size: 100.01%; }

/* line 4, content/css/./_typography.sass */
body { line-height: 1.5; font-size: 75%; color: #222222; background: white; font-family: "Helvetica Neue", Arial, Helvetica, sans-serif; }

/* line 11, content/css/./_typography.sass */
h1, h2, h3, h4, h5, h6 { font-weight: normal; color: #333333; font-family: "Lucida Grande", "Lucida Sans", lucida; font-style: normal; text-shadow: white 0 1px 0; }

/* line 19, content/css/./_typography.sass */
h1 { line-height: 1.2; margin-bottom: 1em; font-size: 2.5em; font-weight: 700; }

/* line 25, content/css/./_typography.sass */
h2 { font-size: 2em; margin-bottom: 0.75em; font-weight: 500; }

/* line 30, content/css/./_typography.sass */
h3 { font-size: 1.5em; line-height: 1; margin-bottom: 1em; font-weight: 500; }

/* line 36, content/css/./_typography.sass */
h4 { font-size: 1em; font-weight: bold; margin-bottom: 1.5em; font-weight: 300; }

/* line 42, content/css/./_typography.sass */
h5 { font-size: 1em; font-weight: bold; margin-bottom: 1.5em; font-weight: 700; }

/* line 48, content/css/./_typography.sass */
h6 { font-size: 1em; font-weight: bold; }

/* line 52, content/css/./_typography.sass */
h1 img, h2 img, h3 img, h4 img, h5 img, h6 img { margin: 0; }

/* line 55, content/css/./_typography.sass */
p { margin: 0 0 1.5em; }
/* line 58, content/css/./_typography.sass */
p img.left { float: left; padding: 0; margin-right: 1.5em; margin-left: 0; margin-bottom: 1.5em; }
/* line 64, content/css/./_typography.sass */
p img.right { float: right; margin-right: 0; margin-left: 1.5em; margin-bottom: 1.5em; }

/* line 70, content/css/./_typography.sass */
a { color: #3f372d; text-decoration: none; border-bottom: 2px solid #aaaaaa; }
/* line 71, content/css/./_typography.sass */
a:focus, a:hover { color: black; border-bottom: 2px solid #999999; }
/* line 77, content/css/./_typography.sass */
a.image, a.heading { border-bottom-style: none; }

/* line 80, content/css/./_typography.sass */
blockquote { margin: 1.5em; color: #666666; font-style: italic; }

/* line 85, content/css/./_typography.sass */
strong { font-weight: bold; }

/* line 88, content/css/./_typography.sass */
em { font-style: italic; }

/* line 91, content/css/./_typography.sass */
dfn { font-style: italic; font-weight: bold; }

/* line 95, content/css/./_typography.sass */
sup, sub { line-height: 0; }

/* line 98, content/css/./_typography.sass */
abbr, acronym { border-bottom: 1px dotted #666666; }

/* line 101, content/css/./_typography.sass */
address { margin: 0 0 1.5em; font-style: italic; }

/* line 105, content/css/./_typography.sass */
del { color: #666666; }

/* line 108, content/css/./_typography.sass */
pre { margin: 1.5em 0; white-space: pre; font: 1em "andale mono", "lucida console", monospace; line-height: 1.5; }

/* line 114, content/css/./_typography.sass */
code, tt { font: 1em "andale mono", "lucida console", monospace; line-height: 1.5; }

/* line 119, content/css/./_typography.sass */
li ul, li ol { margin: 0; }

/* line 122, content/css/./_typography.sass */
ul, ol { margin: 0 1.5em 1.5em 0; padding-left: 3.333em; }

/* line 126, content/css/./_typography.sass */
ul { list-style-type: disc; }

/* line 129, content/css/./_typography.sass */
ol { list-style-type: decimal; }

/* line 132, content/css/./_typography.sass */
dl { margin: 0 0 1.5em 0; }
/* line 134, content/css/./_typography.sass */
dl dt { font-weight: bold; }

/* line 137, content/css/./_typography.sass */
dd { margin-left: 1.5em; }

/* line 140, content/css/./_typography.sass */
table { margin-bottom: 1.4em; width: 100%; }

/* line 144, content/css/./_typography.sass */
th { font-weight: bold; }

/* line 147, content/css/./_typography.sass */
thead th { background: #c3d9ff; }

/* line 150, content/css/./_typography.sass */
th, td, caption { padding: 4px 10px 4px 5px; }

/* line 153, content/css/./_typography.sass */
tr.even td { background: #e5ecf9; }

/* line 156, content/css/./_typography.sass */
tfoot { font-style: italic; }

/* line 159, content/css/./_typography.sass */
caption { background: #eeeeee; }

/* line 162, content/css/./_typography.sass */
.small { font-size: 0.8em; margin-bottom: 1.875em; line-height: 1.875em; }

/* line 167, content/css/./_typography.sass */
.large { font-size: 1.2em; line-height: 2.5em; margin-bottom: 1.25em; }

/* line 172, content/css/./_typography.sass */
.hide { display: none; }

/* line 175, content/css/./_typography.sass */
.quiet { color: #666666; }

/* line 178, content/css/./_typography.sass */
.loud { color: black; }

/* line 181, content/css/./_typography.sass */
.highlight { background: yellow; }

/* line 184, content/css/./_typography.sass */
.added { background: #006600; color: white; }

/* line 188, content/css/./_typography.sass */
.removed { background: #990000; color: white; }

/* line 192, content/css/./_typography.sass */
.first { margin-left: 0; padding-left: 0; }

/* line 196, content/css/./_typography.sass */
.last { margin-right: 0; padding-right: 0; }

/* line 200, content/css/./_typography.sass */
.top { margin-top: 0; padding-top: 0; }

/* line 204, content/css/./_typography.sass */
.bottom { margin-bottom: 0; padding-bottom: 0; }

/* line 3, content/css/./_layout.sass */
body { color: #3d423d; font-family: "Lucida Grande", Lucida, Verdana, sans-serif; background: #cccccc url(/images/bg_pinstripe.png) repeat; }

/* line 8, content/css/./_layout.sass */
.container { width: 900px; margin: 0 auto; }

/* line 12, content/css/./_layout.sass */
header { float: left; background: #cccccc url(/images/bg_header.png) repeat-x bottom; border-bottom: 1px solid #ececec; width: 100%; height: 100px; }
/* line 20, content/css/./_layout.sass */
header .container { position: relative; }
/* line 23, content/css/./_layout.sass */
header .logo { position: absolute; top: 32px; }
/* line 27, content/css/./_layout.sass */
header nav { position: absolute; top: 32px; right: 0; }
/* line 32, content/css/./_layout.sass */
header nav form { float: left; }
/* line 34, content/css/./_layout.sass */
header nav form button { position: relative; border: 0; padding: 0; cursor: pointer; overflow: visible; padding: 0 10px 0 0; font-size: 1.067em; text-align: center; background: transparent url(/images/rounded_button_30.png) no-repeat right -280px; }
/* line 10, content/css/./_button.sass */
header nav form button::-moz-focus-inner { border: none; }
/* line 13, content/css/./_button.sass */
header nav form button span { position: relative; display: block; white-space: nowrap; }
/* line 19, content/css/./_button.sass */
header nav form button:focus { outline: 0; }
/* line 31, content/css/./_button.sass */
header nav form button span { padding: 7px 0 0 10px; height: 23px; background: transparent url(/images/rounded_button_30.png) no-repeat left top; color: #444444; text-shadow: #dddddd 0px 1px 0px; }
/* line 39, content/css/./_button.sass */
header nav form button:hover { background-position: right -350px; }
/* line 42, content/css/./_button.sass */
header nav form button.hover { background-position: right -350px; }
/* line 45, content/css/./_button.sass */
header nav form button:hover span, header nav form button.hover span { background-position: 0 -70px; }
/* line 48, content/css/./_button.sass */
header nav form button:active { background-position: right -420px; }
/* line 51, content/css/./_button.sass */
header nav form button.active { background-position: right -420px; }
/* line 54, content/css/./_button.sass */
header nav form button:active span, header nav form button.active span { background-position: 0 -140px; }
/* line 57, content/css/./_button.sass */
header nav form button.clicked { background-position: right -490px; cursor: default; }
/* line 61, content/css/./_button.sass */
header nav form button.clicked span { background-position: 0 -210px; color: white; text-shadow: #222222 0px 1px 0px; }

/* line 39, content/css/./_layout.sass */
footer { width: 100%; float: left; padding-top: 3em; margin-top: 3em; background-color: #a0a0a0; background-color: rgba(0, 0, 0, 0.1); border-top: 1px solid rgba(255, 255, 255, 0.6); }
/* line 48, content/css/./_layout.sass */
footer .byline, footer .menu { float: left; width: 235px; padding-right: 50px; margin-right: 15px; }
/* line 54, content/css/./_layout.sass */
footer .byline h4, footer .menu h4 { margin-bottom: 0; }
/* line 57, content/css/./_layout.sass */
footer .byline p, footer .menu p { font-size: 0.8em; line-height: 1.875em; }
/* line 61, content/css/./_layout.sass */
footer .byline .nav, footer .menu .nav { padding-left: 0; list-style-type: none; }
/* line 64, content/css/./_layout.sass */
footer .byline .nav li, footer .menu .nav li { font-size: 0.8em; line-height: 1.875em; }
/* line 67, content/css/./_layout.sass */
footer #menu-3 { margin-right: 0; }
/* line 69, content/css/./_layout.sass */
footer .menu .nav a { color: #3a403b; text-decoration: none; }

/* line 2, content/css/./_projects.sass */
.projects-page #sub-nav { display: none; }
/* line 6, content/css/./_projects.sass */
.projects-page #stage .projects { width: 900px; float: left; margin-top: 1.5em; }
/* line 11, content/css/./_projects.sass */
.projects-page #stage .projects .project { float: left; position: relative; margin-right: 15px; margin-bottom: 1.5em; }
/* line 17, content/css/./_projects.sass */
.projects-page #stage .projects .project a { display: block; width: 285px; height: 143px; border-bottom: none; }
/* line 23, content/css/./_projects.sass */
.projects-page #stage .projects .project .card { width: 285px; height: 143px; -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px; overflow: hidden; background: #333333 url(/images/bg_details.png) repeat; }
/* line 40, content/css/./_projects.sass */
.projects-page #stage .projects .project .card .front { height: 144px; float: left; margin-top: 0; -webkit-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); -moz-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); -webkit-transition: all 0.2s; -moz-transition: all 0.2s; -o-transition: all 0.2s; transition: all 0.2s; }
/* line 52, content/css/./_projects.sass */
.projects-page #stage .projects .project .card:hover .front { margin-top: -7.5em; }
/* line 56, content/css/./_projects.sass */
.projects-page #stage .projects .project .card .back { float: left; padding-left: 15px; padding-top: 10px; opacity: 0; -webkit-transition: all 0.4s ease-in-out; -moz-transition: all 0.4s ease-in-out; -o-transition: all 0.4s ease-in-out; transition: all 0.4s ease-in-out; }
/* line 66, content/css/./_projects.sass */
.projects-page #stage .projects .project .card .back h4 { color: #cccccc; margin-bottom: 0.85em; font-size: 1.3em; line-height: 1.15; font-weight: 300; text-shadow: black 0 -1px 0; }
/* line 74, content/css/./_projects.sass */
.projects-page #stage .projects .project .card .back .meta, .projects-page #stage .projects .project .card .back .date { color: #cccccc; font-size: 0.8em; line-height: 0.875; }
/* line 79, content/css/./_projects.sass */
.projects-page #stage .projects .project .card .back .type { color: #eeeeee; background-color: #292929; margin-right: 0; -webkit-border-radius: 2em; -moz-border-radius: 2em; border-radius: 2em; border-top: 1px solid #393939; border-bottom: 1px solid #222222; padding: 0.5em 1em; font-weight: bold; position: relative; left: -8px; }
/* line 93, content/css/./_projects.sass */
.projects-page #stage .projects .project .card:hover .back { opacity: 1; }
/* line 97, content/css/./_projects.sass */
.projects-page #stage .projects .project canvas { position: absolute; top: -15px; left: -15px; }

/* line 4, content/css/./_project.sass */
.project-page header { border-bottom: 1px solid #111111; }
/* line 7, content/css/./_project.sass */
.project-page #sub-nav { background: #333333 url(/images/bg_details.png) repeat; border-bottom: 1px solid #ececec; float: left; width: 100%; }
/* line 16, content/css/./_project.sass */
.project-page .project-nav { width: 900px; float: left; margin-top: 1.5em; }
/* line 21, content/css/./_project.sass */
.project-page .project-nav .project { float: left; position: relative; margin-right: 15px; margin-bottom: 1.5em; }
/* line 27, content/css/./_project.sass */
.project-page .project-nav .project a { border-bottom: none; }
/* line 30, content/css/./_project.sass */
.project-page .project-nav .project a .face { -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; overflow: hidden; width: 50px; height: 36px; border-top: 1px solid rgba(255, 255, 255, 0.3); }
/* line 42, content/css/./_project.sass */
.project-page .project-nav .project canvas { position: absolute; top: -12px; left: -12px; }
/* line 48, content/css/./_project.sass */
.project-page #stage .overview { width: 900px; float: left; padding-top: 1em; margin-bottom: 1em; }
/* line 55, content/css/./_project.sass */
.project-page #stage .overview h1 { color: #333333; margin-bottom: 0.3em; font-size: 2em; line-height: 1.5; font-weight: 300; text-shadow: white 0 -1px 0; }
/* line 63, content/css/./_project.sass */
.project-page #stage .overview .meta, .project-page #stage .overview .date { color: #666666; font-size: 0.8em; line-height: 0.875; }
/* line 68, content/css/./_project.sass */
.project-page #stage .overview .type { color: #eeeeee; background-color: #666666; margin-right: 0; -webkit-border-radius: 2em; -moz-border-radius: 2em; border-radius: 2em; padding: 0.25em 0.75em; font-weight: bold; position: relative; left: -8px; }
/* line 81, content/css/./_project.sass */
.project-page #stage .screenshots { width: 585px; float: left; margin-right: 30px; }
/* line 86, content/css/./_project.sass */
.project-page #stage .screenshots img { -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); -moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); }
/* line 95, content/css/./_project.sass */
.project-page #stage .description { width: 285px; float: left; }
