/* line 14, /Library/Ruby/Gems/1.8/gems/compass-0.10.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 17, /Library/Ruby/Gems/1.8/gems/compass-0.10.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
  color: black;
  background: white;
}

/* line 19, /Library/Ruby/Gems/1.8/gems/compass-0.10.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 21, /Library/Ruby/Gems/1.8/gems/compass-0.10.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 23, /Library/Ruby/Gems/1.8/gems/compass-0.10.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 25, /Library/Ruby/Gems/1.8/gems/compass-0.10.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: "" "";
}
/* line 96, /Library/Ruby/Gems/1.8/gems/compass-0.10.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

/* line 27, /Library/Ruby/Gems/1.8/gems/compass-0.10.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 1, content/css/./_typography.sass */
html {
  font-size: 100.01%;
}

/* line 4, content/css/./_typography.sass */
body {
  line-height: 1.5;
  font-size: 75%;
  color: #222222;
  background: white;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

/* line 11, content/css/./_typography.sass */
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  color: #333333;
  font-family: "ff-meta-sc-web-pro-1", "ff-meta-sc-web-pro-2", Georgia, "Times New Roman", Times, serif;
  font-style: normal;
  text-shadow: white 0 1px 0;
}

/* line 18, content/css/./_typography.sass */
h1 {
  line-height: 1.2;
  margin-bottom: 1em;
  font-size: 2.5em;
  font-weight: 700;
}

/* line 24, content/css/./_typography.sass */
h2 {
  font-size: 2em;
  margin-bottom: 0.75em;
  font-weight: 500;
}

/* line 29, content/css/./_typography.sass */
h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1em;
  font-weight: 500;
}

/* line 35, content/css/./_typography.sass */
h4 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
  font-weight: 500;
}

/* line 41, content/css/./_typography.sass */
h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em;
  font-weight: 700;
}

/* line 47, content/css/./_typography.sass */
h6 {
  font-size: 1em;
  font-weight: bold;
}

/* line 51, content/css/./_typography.sass */
h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {
  margin: 0;
}

/* line 54, content/css/./_typography.sass */
p {
  margin: 0 0 1.5em;
}
/* line 57, content/css/./_typography.sass */
p img.left {
  float: left;
  padding: 0;
  margin-right: 1.5em;
  margin-left: 0;
  margin-bottom: 1.5em;
}
/* line 63, content/css/./_typography.sass */
p img.right {
  float: right;
  margin-right: 0;
  margin-left: 1.5em;
  margin-bottom: 1.5em;
}

/* line 69, content/css/./_typography.sass */
a {
  color: #3f372d;
  text-decoration: none;
  border-bottom: 2px solid #9d896f;
}
/* line 70, content/css/./_typography.sass */
a:focus, a:hover {
  color: black;
  border-bottom: 2px solid #655948;
}
/* line 76, content/css/./_typography.sass */
a.image, a.heading {
  border-bottom-style: none;
}

/* line 79, content/css/./_typography.sass */
blockquote {
  margin: 1.5em;
  color: #666666;
  font-style: italic;
}

/* line 84, content/css/./_typography.sass */
strong {
  font-weight: bold;
}

/* line 87, content/css/./_typography.sass */
em {
  font-style: italic;
}

/* line 90, content/css/./_typography.sass */
dfn {
  font-style: italic;
  font-weight: bold;
}

/* line 94, content/css/./_typography.sass */
sup, sub {
  line-height: 0;
}

/* line 97, content/css/./_typography.sass */
abbr, acronym {
  border-bottom: 1px dotted #666666;
}

/* line 100, content/css/./_typography.sass */
address {
  margin: 0 0 1.5em;
  font-style: italic;
}

/* line 104, content/css/./_typography.sass */
del {
  color: #666666;
}

/* line 107, content/css/./_typography.sass */
pre {
  margin: 1.5em 0;
  white-space: pre;
  font: 1em "andale mono", "lucida console", monospace;
  line-height: 1.5;
}

/* line 113, content/css/./_typography.sass */
code, tt {
  font: 1em "andale mono", "lucida console", monospace;
  line-height: 1.5;
}

/* line 118, content/css/./_typography.sass */
li ul, li ol {
  margin: 0;
}

/* line 121, content/css/./_typography.sass */
ul, ol {
  margin: 0 1.5em 1.5em 0;
  padding-left: 3.333em;
}

/* line 125, content/css/./_typography.sass */
ul {
  list-style-type: disc;
}

/* line 128, content/css/./_typography.sass */
ol {
  list-style-type: decimal;
}

/* line 131, content/css/./_typography.sass */
dl {
  margin: 0 0 1.5em 0;
}
/* line 133, content/css/./_typography.sass */
dl dt {
  font-weight: bold;
}

/* line 136, content/css/./_typography.sass */
dd {
  margin-left: 1.5em;
}

/* line 139, content/css/./_typography.sass */
table {
  margin-bottom: 1.4em;
  width: 100%;
}

/* line 143, content/css/./_typography.sass */
th {
  font-weight: bold;
}

/* line 146, content/css/./_typography.sass */
thead th {
  background: #c3d9ff;
}

/* line 149, content/css/./_typography.sass */
th, td, caption {
  padding: 4px 10px 4px 5px;
}

/* line 152, content/css/./_typography.sass */
tr.even td {
  background: #e5ecf9;
}

/* line 155, content/css/./_typography.sass */
tfoot {
  font-style: italic;
}

/* line 158, content/css/./_typography.sass */
caption {
  background: #eeeeee;
}

/* line 161, content/css/./_typography.sass */
.small {
  font-size: 0.8em;
  margin-bottom: 1.875em;
  line-height: 1.875em;
}

/* line 166, content/css/./_typography.sass */
.large {
  font-size: 1.2em;
  line-height: 2.5em;
  margin-bottom: 1.25em;
}

/* line 171, content/css/./_typography.sass */
.hide {
  display: none;
}

/* line 174, content/css/./_typography.sass */
.quiet {
  color: #666666;
}

/* line 177, content/css/./_typography.sass */
.loud {
  color: black;
}

/* line 180, content/css/./_typography.sass */
.highlight {
  background: yellow;
}

/* line 183, content/css/./_typography.sass */
.added {
  background: #006600;
  color: white;
}

/* line 187, content/css/./_typography.sass */
.removed {
  background: #990000;
  color: white;
}

/* line 191, content/css/./_typography.sass */
.first {
  margin-left: 0;
  padding-left: 0;
}

/* line 195, content/css/./_typography.sass */
.last {
  margin-right: 0;
  padding-right: 0;
}

/* line 199, content/css/./_typography.sass */
.top {
  margin-top: 0;
  padding-top: 0;
}

/* line 203, content/css/./_typography.sass */
.bottom {
  margin-bottom: 0;
  padding-bottom: 0;
}

/* line 1, content/css/./_forms.sass */
label {
  font-weight: bold;
}

/* line 4, content/css/./_forms.sass */
fieldset {
  padding: 1.4em;
  margin: 0 0 1.5em 0;
  border: 1px solid #cccccc;
}

/* line 9, content/css/./_forms.sass */
legend {
  font-weight: bold;
  font-size: 1.2em;
}

/* line 14, content/css/./_forms.sass */
input[type=text], input[type=password], input.text, input.title {
  background-color: white;
  border: 1px solid #bbbbbb;
}

/* line 18, content/css/./_forms.sass */
textarea, select {
  background-color: white;
  border: 1px solid #bbbbbb;
}

/* line 23, content/css/./_forms.sass */
input[type=text]:focus, input[type=password]:focus, input.text:focus, input.title:focus {
  border-color: #666666;
}

/* line 26, content/css/./_forms.sass */
textarea:focus, select:focus {
  border-color: #666666;
}

/* line 30, content/css/./_forms.sass */
input[type=text], input[type=password], input.text, input.title {
  margin: 0.5em 0;
}

/* line 33, content/css/./_forms.sass */
textarea, select {
  margin: 0.5em 0;
}

/* line 37, content/css/./_forms.sass */
input.text {
  width: 300px;
  padding: 5px;
}
/* line 40, content/css/./_forms.sass */
input.title {
  width: 300px;
  padding: 5px;
  font-size: 1.5em;
}

/* line 45, content/css/./_forms.sass */
textarea {
  width: 390px;
  height: 250px;
  padding: 5px;
}

/* line 51, content/css/./_forms.sass */
input[type=checkbox], input[type=radio], input.checkbox, input.radio {
  position: relative;
  top: 0.25em;
}

/* line 55, content/css/./_forms.sass */
form.inline {
  line-height: 3;
}
/* line 57, content/css/./_forms.sass */
form.inline p {
  margin-bottom: 0;
}

/* line 60, content/css/./_forms.sass */
.error, .notice, .success {
  padding: 0.8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
}

/* line 65, content/css/./_forms.sass */
.error {
  background: #fbe3e4;
  color: #8a1f11;
  border-color: #fbc2c4;
}

/* line 70, content/css/./_forms.sass */
.notice {
  background: #fff6bf;
  color: #514721;
  border-color: #ffd324;
}

/* line 75, content/css/./_forms.sass */
.success {
  background: #e6efc2;
  color: #264409;
  border-color: #c6d880;
}

/* line 80, content/css/./_forms.sass */
.error a {
  color: #8a1f11;
}

/* line 83, content/css/./_forms.sass */
.notice a {
  color: #514721;
}

/* line 86, content/css/./_forms.sass */
.success a {
  color: #264409;
}

/* line 1, content/css/./_layout.sass */
body {
  color: #3d423d;
  font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
  background: #fbffc4 no-repeat center top;
}

/* line 6, content/css/./_layout.sass */
.container {
  width: 900px;
  margin: 0 auto;
}

/* line 12, content/css/./_layout.sass */
#header {
  float: left;
  /*background: rgb(38, 126, 157); */
  /*background: rgba(0, 103, 151, 0.85); */
  background-color: #d70000;
  background-color: rgba(215, 0, 0, 0.8);
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  width: 100%;
  /*border: 1.5em solid rgb(125,193,184); */
  /*border: 1.5em solid rgba(197,250,208,0.55); */
  /*border-right-style: none; */
  /*border-left-style: none; */
}
/* line 25, content/css/./_layout.sass */
#header .title {
  width: 585px;
  margin-right: 15px;
  float: left;
  padding-top: 10px;
}
/* line 30, content/css/./_layout.sass */
#header .menu {
  float: left;
}
/* line 32, content/css/./_layout.sass */
#header .nav {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
  float: left;
  margin-right: 0;
}
/* line 38, content/css/./_layout.sass */
#header .nav li {
  padding-bottom: 0.325em;
  width: 285px;
}
/* line 41, content/css/./_layout.sass */
#header .nav li span {
  color: #464646;
  color: rgba(0, 0, 0, 0.6);
  font-size: 0.8em;
  line-height: 1.875;
  margin-left: 1.5em;
}
/* line 47, content/css/./_layout.sass */
#header .nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  border-bottom: 2px solid #f6d7ae;
}
/* line 52, content/css/./_layout.sass */
#header .nav a:focus, #header .nav a:hover {
  color: #efae63;
  border-bottom: 2px solid #efae63;
}

/* line 58, content/css/./_layout.sass */
#footer {
  width: 100%;
  float: left;
  padding-top: 3em;
  background-color: #9d896f;
  background-color: rgba(157, 137, 111, 0.45);
}
/* line 64, content/css/./_layout.sass */
#footer .byline {
  float: left;
  width: 235px;
  padding-right: 50px;
  margin-right: 15px;
  font-size: 0.8em;
  line-height: 1.875em;
}
/* line 71, content/css/./_layout.sass */
#footer .menu {
  float: left;
  width: 185px;
  margin-right: 15px;
  margin-bottom: 1.5em;
}
/* line 76, content/css/./_layout.sass */
#footer .menu .nav {
  padding-left: 0;
  list-style-type: none;
}
/* line 79, content/css/./_layout.sass */
#footer .menu .nav li {
  font-size: 0.8em;
  line-height: 1.875em;
}
/* line 82, content/css/./_layout.sass */
#footer #menu-3 {
  margin-right: 0;
}
/* line 84, content/css/./_layout.sass */
#footer .menu .nav a {
  color: #3a403b;
  text-decoration: none;
}

/* line 1, content/css/./_home.sass */
.home-page {
  background-image: url(/images/bg_ani.png);
}
/* line 6, content/css/./_home.sass */
.home-page .top-story {
  margin-bottom: 1.5em;
  float: left;
  width: 900px;
  padding-top: 1.5em;
}
/* line 11, content/css/./_home.sass */
.home-page .top-story .story {
  width: 300px;
  padding-left: 600px;
}
/* line 14, content/css/./_home.sass */
.home-page .top-story .story h4 {
  margin-bottom: 0;
}
/* line 16, content/css/./_home.sass */
.home-page .top-story .story p {
  font-size: 0.8em;
  line-height: 1.875;
  margin-bottom: 0;
}
/* line 56, content/css/./_home.sass */
.home-page .projects {
  width: 585px;
  float: left;
  margin-right: 15px;
  margin-top: 4.5em;
}
/* line 62, content/css/./_home.sass */
.home-page .projects .project {
  float: left;
  position: relative;
  margin-right: 15px;
  margin-bottom: 1.5em;
  width: 285px;
  height: 144px;
  z-index: 1;
}
/* line 71, content/css/./_home.sass */
.home-page .projects .face.back {
  display: none;
}
/* line 74, content/css/./_home.sass */
.home-page .projects .project {
  -webkit-perspective: 1000;
}
/* line 77, content/css/./_home.sass */
.home-page .projects .card {
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: all 0.4s ease-in-out;
}
/* line 83, content/css/./_home.sass */
.home-page .projects .project:hover .card, .home-page .projects .project.hover_effect .card {
  -webkit-transform: rotateX(180deg);
}
/* line 86, content/css/./_home.sass */
.home-page .projects .face {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
}
/* line 92, content/css/./_home.sass */
.home-page .projects .face.back {
  display: block;
  -webkit-transform: rotateX(180deg);
  -webkit-box-sizing: border-box;
  background-color: #aaaaaa;
}
/* line 176, content/css/./_home.sass */
.home-page #project-2, .home-page #project-4, .home-page #project-6, .home-page #project-8, .home-page #project-10, .home-page #project-12 {
  margin-right: 0;
}
/* line 193, content/css/./_home.sass */
.home-page #about {
  margin-right: 0;
  width: 285px;
  padding-right: 0;
  padding-top: 0;
  float: left;
}
/* line 199, content/css/./_home.sass */
.home-page #about h2 {
  margin-bottom: 0;
}
/* line 201, content/css/./_home.sass */
.home-page #about .inner {
  padding: 1.5em;
  background-color: #f9f8a4;
  background-color: rgba(246, 215, 17, 0.18);
}
/* line 205, content/css/./_home.sass */
.home-page #about i {
  font-weight: bold;
  margin-bottom: 0;
}

/* line 2, content/css/./_about.sass */
.about-page .about {
  padding-top: 3em;
  float: left;
  margin-right: 15px;
  padding-bottom: 3em;
  width: 585px;
}
/* line 11, content/css/./_about.sass */
.about-page .infos {
  float: left;
  width: 900px;
}
/* line 15, content/css/./_about.sass */
.about-page .info {
  width: 235px;
  margin-right: 15px;
  float: left;
  padding-right: 50px;
}
/* line 21, content/css/./_about.sass */
.about-page #info-3 {
  margin-right: 0;
}

/* line 1, content/css/./_work.sass */
.work-page {
  background-image: url(/images/bg_work.png);
}
/* line 4, content/css/./_work.sass */
.work-page .work {
  padding-top: 3em;
  float: left;
  padding-bottom: 3em;
}
/* line 9, content/css/./_work.sass */
.work-page .intro {
  width: 235px;
  margin-right: 15px;
  float: left;
  padding-right: 50px;
}
/* line 17, content/css/./_work.sass */
.work-page .projects {
  width: 585px;
  float: left;
}
/* line 21, content/css/./_work.sass */
.work-page .project {
  float: left;
  width: 285px;
  margin-right: 15px;
  margin-bottom: 1.5em;
}
/* line 27, content/css/./_work.sass */
.work-page #project-2, .work-page #project-4, .work-page #project-6, .work-page #project-8, .work-page #project-10, .work-page #project-12 {
  margin-right: 0;
}
/* line 31, content/css/./_work.sass */
.work-page .project img {
  border: 1px solid rgba(0, 0, 0, 0.1);
}
/* line 33, content/css/./_work.sass */
.work-page .project h4 {
  margin-bottom: 0;
  font-size: 1.5em;
  line-height: 2;
  font-weight: 500;
}
/* line 38, content/css/./_work.sass */
.work-page .project .meta {
  font-size: 0.8em;
  line-height: 1.875;
}
/* line 41, content/css/./_work.sass */
.work-page .project .type {
  background-color: #bda586;
  background-color: rgba(189, 165, 134, 0.45);
  margin-right: 0.75em;
  -webkit-border-radius: 0.75em;
  -moz-border-radius: 0.75em;
  border-radius: 0.75em;
  border-top: 1px solid white;
  padding: 0.5em 1em;
  font-weight: bold;
}

/* line 4, content/css/./_article.sass */
.article-page .story {
  padding-top: 3em;
  float: left;
  padding-bottom: 3em;
  width: 535px;
  margin-right: 15px;
  padding-right: 50px;
}
/* line 12, content/css/./_article.sass */
.article-page code {
  background-color: rgba(255, 255, 255, 0.5);
  display: block;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 0 1.5em;
}
/* line 20, content/css/./_article.sass */
.article-page .more-articles {
  width: 285px;
  float: left;
}
/* line 23, content/css/./_article.sass */
.article-page .more-articles .inner {
  padding: 1.5em;
  background-color: #f9f8a4;
  background-color: rgba(246, 215, 17, 0.18);
}
/* line 27, content/css/./_article.sass */
.article-page .more-articles h4 {
  font-weight: bold;
  margin-bottom: 0;
}
/* line 30, content/css/./_article.sass */
.article-page .more-articles .meta {
  font-size: 0.8em;
  line-height: 1.875;
}

/* line 1, content/css/./_project.sass */
.project-page {
  background-image: url(/images/bg_work.png);
}
/* line 6, content/css/./_project.sass */
.project-page .project {
  padding-top: 3em;
  float: left;
  margin-right: 15px;
  padding-bottom: 3em;
  width: 585px;
}
/* line 12, content/css/./_project.sass */
.project-page .project h1 {
  margin-bottom: 0;
  line-height: 1.8;
}
/* line 15, content/css/./_project.sass */
.project-page .project .meta {
  font-size: 0.8em;
  line-height: 1.875;
  margin-bottom: 3em;
}
/* line 19, content/css/./_project.sass */
.project-page .project .type {
  background-color: #bda586;
  background-color: rgba(189, 165, 134, 0.45);
  margin-right: 0.75em;
  -webkit-border-radius: 0.75em;
  -moz-border-radius: 0.75em;
  border-radius: 0.75em;
  border-top: 1px solid white;
  padding: 0.5em 1em;
  font-weight: bold;
}
/* line 29, content/css/./_project.sass */
.project-page .project img {
  border: 2px solid #dcdcdc;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
/* line 35, content/css/./_project.sass */
.project-page .more-work {
  width: 285px;
  float: left;
}
/* line 38, content/css/./_project.sass */
.project-page .more-work .inner {
  padding: 1.5em;
  background-color: #f9f8a4;
  background-color: rgba(246, 215, 17, 0.18);
}
/* line 44, content/css/./_project.sass */
.project-page table.work td {
  vertical-align: top;
}
/* line 46, content/css/./_project.sass */
.project-page table.work strong {
  display: block;
  font-weight: bold;
}
/* line 49, content/css/./_project.sass */
.project-page table.work span {
  font-size: 0.8em;
  line-height: 1.875;
  color: #796a56;
}
/* line 53, content/css/./_project.sass */
.project-page table.work img {
  border: 2px solid white;
  border: 2px solid rgba(255, 255, 255, 0.5);
}
