/* @group top-story */

body {
	background-image: url(/images/bg_ani.png);
}

.top-story {
	margin-bottom: 1.5em;
	float: left;
	width: 900px;
	padding-top: 1.5em;
}

/*.hero {
	float: left;
	margin-right: 15px;
	margin-bottom: 1.5em;
}*/

.top-story .story {
	width: 300px;
	padding-left: 600px;
}

.top-story .story h4 {
	margin-bottom: 0;
}

.top-story .story p {
	font-size:.8em;
	line-height: 1.875;
	margin-bottom: 0;
}

/* @end */

/* @group stories */

/* contains stories */

.stories {
	float: left;
	margin-bottom: 3em;
	width: 585px;
	margin-right: 15px;
	background-color: rgb(255,255,204);
	background-color: rgba(255,255,204,0.8);
	margin-top: 4.5em;
}

/* stories arranged as 3 buckets, top padding added so headlines line up with story boxed headlines */

.stories .story {
	width: 285px;
	float: left;
	margin-right: 15px;
}

.stories .story h2 {
	margin-bottom: 0;
}

.stories .story .meta {
	font-size: .8em;
	line-height: 1.875;
}

.stories .story .type {
	background-color: rgb(189,165,134);
	background-color: rgba(189,165,134,0.45);
	margin-right: .75em;
	-webkit-border-radius: .75em;
	-moz-border-radius: .75em;
	border-radius: .75em;
	border-top: 1px solid #fff;
	padding: .5em 1em;
}

.stories .inner {
	padding-top: 1.5em;
}

.stories #story-b, .stories #story-d {
	margin-right: 0;
}

/* @end */

/* @group work */

/*table.work tr:hover {
	background-color: rgba(255,255,255,0.3);
	-webkit-border-radius: .75em;
	-moz-border-radius: .75em;
	border-radius: .75em;
}*/

table.work strong {
	display: block;
	font-weight: bold;
}

table.work span {
	font-size: .8em;
	line-height: 1.875;
	color: #796a56;
}

table.work img {
	
	border: 2px solid rgb(255,255,255);
	border: 2px solid rgba(255,255,255,.5);
}



/* @end */

/* @group about */

#about {
	margin-right: 0;
	width: 285px;
	padding-right: 0;
	padding-top: 0;
	float: left;
}

#about h2 {
	margin-bottom: 0;
}

/*#about p {
	font-size:.8em;
	line-height: 1.875;
}*/

#about .inner {
	padding: 1.5em;
	background-color: rgb(249,248,164);
	background-color: rgba(246,215,17,0.18);
}

#about i {
	font-weight: bold;
	margin-bottom: 0;
	/*color: #fff;*/
	/*-webkit-border-radius: .5em;*/
	/*-moz-border-radius: .5em;*/
	/*border-radius: .5em;*/
	/*padding: .25em .75em;*/
}

/* @end */