body {
	background-image: url(/images/bg_work.png);
}

/* @group project */

.project {
	padding-top: 3em;
	float: left;
	margin-right: 15px;
	padding-bottom: 3em;
	width: 585px;
}

.project h1 {
	margin-bottom: 0;
	line-height: 1.8;
}

.project .meta {
	font-size: .8em;
	line-height: 1.875;
	margin-bottom: 3em;
}

.project .type {
	background-color: rgb(189,165,134);
	background-color: rgba(189,165,134,0.45);
	margin-right: .75em;
	-webkit-border-radius: .75em;
	-moz-border-radius: .75em;
	border-radius: .75em;
	border-top: 1px solid #fff;
	padding: .5em 1em;
	font-weight: bold;
}

.project img {
	border: 2px solid rgb(220,220,220);
	border: 1px solid rgba(0,0,0,.1);
}

/* @end */

/* @group more work */

.more-work {
	width: 285px;
	float: left;
}

.more-work .inner {
	padding: 1.5em;
	background-color: rgb(249,248,164);
	background-color: rgba(246,215,17,0.18);
}

table.work td {
	vertical-align: top;
}

table.work strong {
	display: block;
	font-weight: bold;
}

table.work span {
	font-size: .8em;
	line-height: 1.875;
	color: #796a56;
}

table.work img {
	border: 2px solid rgb(255,255,255);
	border: 2px solid rgba(255,255,255,.5);
}



/* @end */