/* @group general */

.container {
	width: 950px;
}

body {
	background-color: #222;
}

/* @end */

/* @group typography */

body {
	color: #ccc;
	font: 80% "Lucida Grande", Lucida, Verdana, sans-serif;
}

h1, h2, h3, h4, h5 {
	font-family: "kulturista-web-1","kulturista-web-2", "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #fff;
	/*-webkit-transform: rotate(-1deg);
	-moz-transform: rotate(-1deg);*/
}

h1 a, h2 a, h3 a, h4 a, h5 a {
	color: #fff;
}

h1 {
	font-weight: 700;
	font-size: 4em;
	line-height: 1.333;
}

h2 {
	font-weight: 100;
	font-size: 3em;
}

h3, h4, h5 {
	font-weight: 500;
}

a {
	text-decoration: none;
	color: #fdf1ae;
}

a:hover {
	color: #fdf1ae;
	border-bottom: 1px solid #666;
}

/*displays arrow after link denoting external link*/
a.external:after {
	/*2794*/
	content:" \27A0";
	display:block;
}

.large {
	font-family: "kulturista-web-1","kulturista-web-2", "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	line-height: 1.15;
	font-weight: 300;
	font-style: normal;
	font-size: 1.3em;
}

.light {
	font-weight: 100;
}

hr {
	color: #555;
	background-color: #555;
}

/* @end */

/* @group reusable */

/* @group header */

.header {
	background-color: #292929;
	height: 6em;
	margin-bottom: 3em;
	padding-top: 2em;
	border-bottom: 1px solid #333;
}

.header .container {
	position: relative;
}

.header #logo a:hover {
	border-bottom-style: none;
}

.nav {
	margin: 0;
	list-style-type: none;
	position: absolute;
	height: 3em;
	top: 1em;
	left: 14em;
}

.nav li {
	display: block;
	float: left;
	padding-top: .5em;
	margin: 0 1.5em;
	font: 1.2em/1.25 "kulturista-web-1","kulturista-web-2", "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

/* @end */

/* @group footer */

.footer {
	background-color: #292929;
	border-top: 4px double #333;
}

.footer ul, .footer li {
	list-style-type: none;
	margin-left: 0;
	margin: 0;
}



/* @end */

/* @group section */



/* @end */

/* @group box */

.box {padding:1.5em;margin-bottom:1.5em;background: #d7e3f8;
	color: #555;
	-moz-border-radius: 1em;
	-webkit-border-radius: 1em;
	border-radius: 1em;
}

.box h1, .box h2, .box h3, .box h4, .box h5, .box a {
	color: #333;
}

/* @end */



/* @end */

/* @group pages */

/* @group brown */

.brown .header {
	background-color: #362216;
	border-bottom: 1px solid #4f3729;
}

.brown .footer {
	background-color: #362216;
	border-top: 4px double #4f3729;
}

body.brown {
	background: #2d1b11 url(/images/home/bg_fs_charity.gif) no-repeat center top;
}

.brown {
	color: #ddc599;
}

.brown .box {
	background-color: #362216;
}

.brown .box h3, .brown .box p, .brown .box a {
	color: #ceac6d;
}

.brown a:hover {
	border-bottom: 1px solid #674a31;
}

/* @end */



/* @end */

.prepend-top-1 {
	padding-top: 1.5em;
}

.prepend-top-2 {
	padding-top: 3em;
}

.prepend-top-3 {
	padding-top: 4.5em;
}

.append-bottom-1 {
	margin-bottom: 1.5em;
}

.append-bottom-2 {
	margin-bottom: 3em;
}

.append-bottom-3 {
	margin-bottom: 4.5em;
}