#!/usr/bin/env ruby

compile '/' do
  filter :erb
  layout 'home'
end

compile '/resume/' do
  layout 'blank'
end

compile '/fieldnotes/' do
  layout 'blank'
end

compile '*' do
  filter :erb
  layout 'default'
end

route '*' do
  item.identifier + 'index.html'
end

layout '*', :erb
