#!/usr/bin/env ruby

require 'compass'
Compass.add_project_configuration 'config/compass.config'

# compilation rules

compile '/stylesheets/*/' do
   filter :sass, Compass.sass_engine_options
end

route '/stylesheets/*/' do
   item.identifier.chop + '.css'
end

compile '/' do
  filter :erb
  layout 'home'
end

compile '/resume/' do
  layout 'blank'
end

compile '/fieldnotes/' do
  layout 'blank'
end

compile '*' do
  filter :erb
  layout 'default'
end

# routing rules

route '*' do
  item.identifier + 'index.html'
end

# layout rules

layout '*', :erb
