<div class="container">
    <div class="project-nav">
        <% for(var i in projects) { %>
        <div id="project-<%= i %>" class="project">
            <a  href="#/project/<%= projects[i].slug %>">
                <div class="face">
                    <img src="<%= projects[i].thumb %>" alt="" width="50" height="36" />
                </div>
            </a>
        </div>
        <% } %>
    </div>
</div>