		<div class="footer prepend-top-2">
			<div class="container">
				<div class="column span-6 append-bottom-2">
					<h4>Critical Information</h4>
					<ul>
						<li><span>phone:</span> <strong>310.953.3295</strong></li>
						<li><span>fax:</span> <strong>801.922.3700</strong></li>
						<li><span>email:</span> <strong><a href="mailto:mail@sentineldesign.net">mail@sentineldesign.net</a></strong></li>
					</ul>
				</div>

				<div class="column span-6">
					<h4>Billing and Support</h4>
					<ul>
						<li><a class="external" href="https://sentineldesigngroup.freshbooks.com/">Pay an Invoice</a></li>
						<li><a class="external" href="https://sentineldesigngroup.freshbooks.com/">Start a Support Ticket</a></li>
						<li><a href="mailto:mail@sentineldesign.net">Request Support Account</a></li>
					</ul>
				</div>
				
				<div class="column span-6">
					<h4>Navigation</h4>
					<ul>
						<li><a href="/">Home</a></li>
						<li><a href="/about/">About SDG</a></li>
						<!-- <li><a href="/projects/">Selected Projects</a></li> -->
					</ul>
				</div>
				
				<div class="column span-6 last">
					<p class="small">This page was painstakingly crafted on <%= @item[:mtime] %> <!-- @page.mtime.strftime("%A %B %d, %Y at %H:%M:%S %Z")  --> by the fine folks at Sentinel Design Group &copy; 2009. Hosted at <a class="external" href="http://mediatemple.net/">(mt) Media Temple</a>. Built with this crazy thing called <a class="external" href="http://nanoc.stoneship.org/">Nanoc 3</a>.</p>
				</div>
			</div>
		</div>
	</body>
	<script src="http://www.google-analytics.com/urchin.js" type="text/javascript"></script>
	<script type="text/javascript">
		_uacct = "UA-50739-1";
		urchinTracker();
	</script>
</html>