<div id="footer">
	<div class="container">
		<div class="byline">
			<p>This page was painstakingly crafted on <%= @item[:mtime] %> <!-- @page.mtime.strftime("%A %B %d, %Y at %H:%M:%S %Z")  --> by Drew Yeaton &amp; Sentinel Design &copy; 2010. Built with this crazy thing called <a class="external" href="http://nanoc.stoneship.org/">Nanoc 3</a>. View the code for this site at its <a class="external" href="http://github.com/drewyeaton/sdg-site">repository on GitHub</a>.</p>
		</div>
		<div id="menu-1" class="menu">
			<h4>Critical Information</h4>
			<ul class="nav">
				<li><span>phone:</span> <strong>310.953.3295</strong></li>
				<li><span>fax:</span> <strong>801.922.3700</strong></li>
				<li><span>email:</span> <strong><a href="mailto:drew@sentineldesign.net">drew@sentineldesign.net</a></strong></li>
			</ul>
		</div>
		<div id="menu-2" class="menu">
			<h4>Site Navigation</h4>
			<ul class="nav">
				<li><a href="/">Home</a></li>
				<li><a href="/about/">About</a></li>
				<li><a href="/work/">Work</a></li>
				<!-- <li><a href="mailto:drew@sentineldesign.net">Contact</a></li> -->
				<!-- <li><a href="/projects/">Selected Projects</a></li> -->
			</ul>
		</div>
		<div id="menu-3" class="menu">
			<h4>Support &amp; Billing</h4>
			<ul class="nav">
				<li><a class="external" href="https://sentineldesigngroup.freshbooks.com/">Pay an Invoice</a></li>
				<li><a class="external" href="https://sentineldesigngroup.freshbooks.com/">Start a Support Ticket</a></li>
				<li><a href="mailto:drew@sentineldesign.net">Request Support Account</a></li>
			</ul>
		</div>
		
		<!--
		<div id="menu-4" class="menu">
			<h4>Other Stuff</h4>
			<ul class="nav">
				<li><a href="">Lorem</a></li>
				<li><a href="">Ipsum</a></li>
				<li><a href="">Dolor</a></li>
			</ul>
		</div>
		-->
	</div>
</div>
</body>
</html>