<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>Sentinel Design - <%= @item[:title] %></title>
	<link rel="stylesheet" href="/css/base.css" type="text/css" media="screen" title="no title" charset="utf-8" />
		
	<script src="/js/jquery.js" type="text/javascript" charset="utf-8"></script>
	<script src="/js/sammy.js" type="text/javascript" charset="utf-8"></script>
	<script src="/js/plugins/sammy.template.js" type="text/javascript" charset="utf-8"></script>
	<script src="/js/<%= @item[:js] %>.js" type="text/javascript" charset="utf-8"></script>
</head>
<body class="<%= @item[:breadcrumb] %>">
<header>
    <div class="container">
        <a href="#/"><img class="logo" src="/images/logo.png" alt="Sentinel Design"></a>
        <!-- <a href="#/">Home</a> -->
        
        <nav>
            <form action="#/" method="post"><button class="projects"><span>Projects</span></button></form>
            <form action="#/about" method="post"><button class="about"><span>About</span></button></form>
            <!-- <form action="#/contact" method="post"><button class="contact"><span>Contact</span></button></form> -->
        </nav>
    </div>
</header>