<%= render 'header' %>

<div id="content">
	<h2>selected projects</h2>

	<!--
	<div id="project-thumbs">
		<div id="project-thumb"><a href="/projects/detail/14" ><img src="/img/project_main_project_image_thumb.jpg" Flipswap Merchant /></a></div>
		<div id="project-thumb"><a href="/projects/detail/13" ><img src="/img/project_fs_consumer_thumb.jpg" Flipswap Consumer /></a></div>
		<div id="project-thumb"><a href="/projects/detail/4" ><img src="/img/project_diamonds_thumb.jpg" Diamond Exchange Services /></a></div>
		<div id="project-thumb"><a href="/projects/detail/11" ><img src="/img/project_dna_thumb.jpg" DNA Business Systems /></a></div>
		<div id="project-thumb"><a href="/projects/detail/9" ><img src="/img/project_vbp_thumb.jpg" Very Bad Poetry /></a></div>
		<div id="project-thumb"><a href="/projects/detail/6" ><img src="/img/project_serverskine_thumb.jpg" Serverskine /></a></div>
		<div id="project-thumb"><a href="/projects/detail/5" ><img src="/img/project_boatwerks_thumb.jpg" Boatwerks Restaurant /></a></div>
		<div id="project-thumb"><a href="/projects/detail/2" ><img src="/img/project_gdk_thumb.jpg" GDK Construction /></a></div>
		<div id="project-thumb"><a href="/projects/detail/1" ><img src="/img/project_wmu_thumb.jpg" West Michigan Uniform /></a></div>
		<div id="project-thumb"><a href="/projects/detail/3" ><img src="/img/project_sdg_thumb.jpg" Sentinel Design /></a></div>
	</div>
	-->

	<div id="project-info">
		<%= yield %>
	</div>
</div>

<%= render 'footer' %>