<div id="header">
	<div class="container">
		<div class="title">
			<!-- <h1>Sentinel Design</h1> -->
			<a class="image" href="/"><img src="/images/logo.png" alt="sentinel design" /></a>
		</div>
		<div class="menu">
			<ul class="nav">
				<li id="home"><a href="/">Home</a> <span>Latest News, Newest Work</span></li>
				<li><a href="/about/">About</a> <span>Who, What &amp; Why</span></li>
				<li><a href="/work/">Work</a> <span>Past Projects &amp; Case Studies</span></li>
				<li><a href="mailto:mail@sentineldesign.net">Contact</a> <span>Make contact by email</span></li>
			</ul>
		</div>
	</div>	
</div>