<h2><a class="heading" href="/work/">More Selected Work</a></h2>

<table class="work">
	<!-- <tr>
		<td><img src="/images/work_thumb_sdg.png" alt="project" width="50" height="36" /></td>
		<td>
			<strong><a href="#">Sentinel Design</a></strong>
			<span>January 1st, 2010</span>
		</td>
	</tr> -->
	<tr>
		<td><a class="image" href="/work/seevolution/"><img src="/images/work_thumb_seevolution.png" alt="project" width="50" height="36" /></a></td>
		<td>
			<strong><a href="/work/seevolution/">Seevolution</a></strong>
			<span>May 10th, 2010</span>
		</td>
	</tr>
	<tr>
		<td><a class="image" href="/work/simplypowered/"><img src="/images/work_thumb_simplypowered.png" alt="project" width="50" height="36" /></a></td>
		<td>
			<strong><a href="/work/simplypowered/">SimplyPowered</a></strong>
			<span>April 17th, 2010</span>
		</td>
	</tr>
	<tr>
		<td><a class="image" href="/work/recurly-client/"><img src="/images/work_thumb_recurly_client.png" alt="project" width="50" height="36" /></a></td>
		<td>
			<strong><a href="/work/recurly-client/">Recurly Python Client</a></strong>
			<span>February 23rd, 2010</span>
		</td>
	</tr>
	<tr>
		<td><a class="image" href="/work/flipswap-nokia/"><img src="/images/work_thumb_nokia.png" alt="project" width="50" height="36" /></a></td>
		<td>
			<strong><a href="/work/flipswap-nokia/">Nokia Trade-up Program</a></strong>
			<span>November 23rd, 2009</span>
		</td>
	</tr>
	<tr>
		<td><a class="image" href="/work/audubon-nature-institute/"><img src="/images/work_thumb_ani.png" alt="project" width="50" height="36" /></a></td>
		<td>
			<strong><a href="/work/audubon-nature-institute/">Audubon Nature Institute</a></strong>
			<span>August 10th, 2009</span>
		</td>
	</tr>
	<tr>
		<td><a class="image" href="/work/flipswap-reasons/"><img src="/images/work_thumb_flipswap_reasons.png" alt="project" width="50" height="36" /></a></td>
		<td>
			<strong><a href="/work/do-my-stuff/">&ldquo;Reasons&rdquo; Commercial</a></strong>
			<span>March 9th, 2009</span>
		</td>
	</tr>
	<tr>
		<td><a class="image" href="/work/do-my-stuff/"><img src="/images/work_thumb_dms.png" alt="project" width="50" height="36" /></a></td>
		<td>
			<strong><a href="/work/do-my-stuff/">DoMyStuff.com</a></strong>
			<span>February 8th, 2009</span>
		</td>
	</tr>
	<tr>
		<td><a class="image" href="/work/very-bad-poetry/"><img src="/images/work_thumb_vbp.png" alt="project" width="50" height="36" /></a></td>
		<td>
			<strong><a href="/work/very-bad-poetry/">Very Bad Poetry</a></strong>
			<span>November 22nd, 2007</span>
		</td>
	</tr>
</table>