/* line 2, content/stylesheets/_about.sass */
.about-page .about {
  padding-top: 3em;
  float: left;
  margin-right: 15px;
  padding-bottom: 3em;
  width: 585px;
}
/* line 11, content/stylesheets/_about.sass */
.about-page .infos {
  float: left;
  width: 900px;
}
/* line 15, content/stylesheets/_about.sass */
.about-page .info {
  width: 235px;
  margin-right: 15px;
  float: left;
  padding-right: 50px;
}
/* line 21, content/stylesheets/_about.sass */
.about-page #info-3 {
  margin-right: 0;
}
