/* 18 colums - 50px column, 15px gutter */
/* line 5, content/stylesheets/fieldnotes.sass */
html {
  font-size: 100.01%;
}

/* line 8, content/stylesheets/fieldnotes.sass */
body {
  font-size: 120%;
  color: #222222;
  background: white;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

/* line 14, content/stylesheets/fieldnotes.sass */
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  color: #333333;
  font-family: "ff-meta-sc-web-pro-1", "ff-meta-sc-web-pro-2", Georgia, "Times New Roman", Times, serif;
  font-style: normal;
  text-shadow: white 0 1px 0;
}

/* line 21, content/stylesheets/fieldnotes.sass */
h1 {
  margin-bottom: 0.25em;
  line-height: 1;
  font-size: 4em;
}

/* line 26, content/stylesheets/fieldnotes.sass */
h2 {
  margin-bottom: 0.75em;
  font-weight: 500;
  font-size: 1.5em;
}

/* line 31, content/stylesheets/fieldnotes.sass */
h3 {
  line-height: 1.25;
  font-weight: 500;
  margin-bottom: 1.25em;
  font-size: 1.2em;
}

/* line 37, content/stylesheets/fieldnotes.sass */
h4 {
  line-height: 1.25;
  margin-bottom: 1.25em;
  font-weight: bold;
  font-size: 1.2em;
}

/* line 43, content/stylesheets/fieldnotes.sass */
h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em;
  font-weight: 700;
}

/* line 49, content/stylesheets/fieldnotes.sass */
h6 {
  font-size: 1em;
  font-weight: bold;
}

/* line 53, content/stylesheets/fieldnotes.sass */
h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {
  margin: 0;
}

/* line 56, content/stylesheets/fieldnotes.sass */
p {
  margin: 0 0 1.5em;
}
/* line 59, content/stylesheets/fieldnotes.sass */
p img.left {
  float: left;
  padding: 0;
  margin-right: 1.5em;
  margin-left: 0;
  margin-bottom: 1.5em;
}
/* line 65, content/stylesheets/fieldnotes.sass */
p img.right {
  float: right;
  margin-right: 0;
  margin-left: 1.5em;
  margin-bottom: 1.5em;
}

/* line 71, content/stylesheets/fieldnotes.sass */
a {
  color: black;
  text-decoration: none;
  border-bottom: 3px solid #aaaaaa;
}
/* line 72, content/stylesheets/fieldnotes.sass */
a:focus, a:hover {
  color: black;
  border-bottom: 3px solid black;
}
/* line 78, content/stylesheets/fieldnotes.sass */
a.image, a.heading {
  border-bottom-style: none;
}

/* line 81, content/stylesheets/fieldnotes.sass */
strong {
  font-weight: bold;
}

/* line 85, content/stylesheets/fieldnotes.sass */
li ul, li ol {
  margin: 0;
}

/* line 88, content/stylesheets/fieldnotes.sass */
ul, ol {
  margin: 0 1.5em 1.5em 0;
  padding-left: 3.333em;
}

/* line 92, content/stylesheets/fieldnotes.sass */
ul {
  list-style-type: disc;
}

/* line 95, content/stylesheets/fieldnotes.sass */
ol {
  list-style-type: decimal;
}

/* line 100, content/stylesheets/fieldnotes.sass */
body {
  font-family: "myriad pro", "Lucida Grande", Lucida, Verdana, sans-serif;
  background-image: url(/images/fieldnotes/bg.gif);
}

/* line 104, content/stylesheets/fieldnotes.sass */
.container {
  width: 600px;
  margin: 0 auto;
}

/* line 108, content/stylesheets/fieldnotes.sass */
h1 {
  display: block;
  text-align: right;
  background: url(/images/fieldnotes/notebook.png) no-repeat 325px center;
  padding-top: 0.75em;
  padding-bottom: 0.75em;
  padding-right: 325px;
}

/* line 116, content/stylesheets/fieldnotes.sass */
.point {
  font-size: 1.2em;
  line-height: 1.25;
  font-family: "ff-meta-sc-web-pro-1", "ff-meta-sc-web-pro-2", Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
}

/* line 122, content/stylesheets/fieldnotes.sass */
.email {
  text-align: center;
  display: block;
  font-size: 1.5em;
}
