/* line 3, content/stylesheets/page.sass */
#header {
  float: left;
  background: #267e9d;
  background: rgba(0, 103, 151, 0.85);
  padding-top: 0.75em;
  padding-bottom: 0.75em;
  width: 100%;
  border-bottom: 1.5em solid #7dc1b8;
  border-bottom: 1.5em solid rgba(197, 250, 208, 0.55);
}
/* line 12, content/stylesheets/page.sass */
#header .title {
  width: 135px;
  margin-right: 15px;
  float: left;
  padding-top: 10px;
}
/* line 17, content/stylesheets/page.sass */
#header .menu {
  float: left;
}
/* line 19, content/stylesheets/page.sass */
#header .nav {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
  float: left;
  margin-right: 0;
}
/* line 25, content/stylesheets/page.sass */
#header .nav li {
  padding-bottom: 0.325em;
  width: 285px;
}
/* line 28, content/stylesheets/page.sass */
#header .nav li span {
  color: #0d3d47;
  font-size: 0.8em;
  line-height: 1.875;
  margin-left: 1.5em;
}
/* line 33, content/stylesheets/page.sass */
#header .nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  border-bottom: 2px solid #f6d7ae;
}
/* line 38, content/stylesheets/page.sass */
#header .nav a:focus, #header .nav a:hover {
  color: #efae63;
  border-bottom: 2px solid #efae63;
}

/* line 44, content/stylesheets/page.sass */
#story {
  width: 585px;
  padding-right: 150px;
  padding-left: 150px;
  position: relative;
  float: left;
}
/* line 50, content/stylesheets/page.sass */
#story .type {
  position: absolute;
  width: 150px;
  left: 0;
  top: 5.75em;
}
/* line 55, content/stylesheets/page.sass */
#story .type p {
  text-align: right;
  font-weight: bold;
  text-transform: uppercase;
  color: #65624d;
}
/* line 60, content/stylesheets/page.sass */
#story .meta {
  position: absolute;
  right: 0;
  width: 150px;
  bottom: 3em;
}
/* line 66, content/stylesheets/page.sass */
#story .meta p {
  font-size: 0.8em;
  line-height: 1.875;
  color: #65624d;
}
/* line 67, content/stylesheets/page.sass */
#story .meta p#story .meta h5 {
  font-size: 0.8em;
  line-height: 1.875;
  color: #65624d;
}
/* line 74, content/stylesheets/page.sass */
#story .inner {
  padding: 3em 4.5em;
}

/* line 77, content/stylesheets/page.sass */
blockquote {
  font-weight: normal;
  font-style: normal;
  margin: 0;
  line-height: 1.2;
  font-size: 1.25em;
}

/* line 84, content/stylesheets/page.sass */
#thumbs {
  width: 225px;
  float: left;
  margin-left: -170px;
  -webkit-transform: rotate(-4deg);
  -moz-transform: rotate(-4deg);
  margin-bottom: 1.5em;
  margin-right: 3em;
}
/* line 92, content/stylesheets/page.sass */
#thumbs .thumbs-inner {
  padding: 15px 15px 0;
  background-color: rgba(246, 215, 17, 0.18);
  float: left;
  border-right: 2px solid #9d896f;
}
/* line 97, content/stylesheets/page.sass */
#thumbs .thumb {
  width: 85px;
  float: left;
  margin-right: 1.5em;
}
/* line 101, content/stylesheets/page.sass */
#thumbs #thumb-2, #thumbs #thumb-4 {
  margin-right: 0;
}
/* line 103, content/stylesheets/page.sass */
#thumbs .thumb p {
  font-size: 0.8em;
  line-height: 1.875;
  color: #796a56;
  text-align: center;
}
