/* line 3, content/stylesheets/resume-old.sass */
html {
  font-size: 100.01%;
}

/* line 6, content/stylesheets/resume-old.sass */
body {
  font-size: 85%;
  color: #222222;
  background: white;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

/* line 12, content/stylesheets/resume-old.sass */
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  color: #333333;
  font-family: "ff-meta-sc-web-pro-1", "ff-meta-sc-web-pro-2", Georgia, "Times New Roman", Times, serif;
  font-style: normal;
  text-shadow: white 0 1px 0;
}

/* line 19, content/stylesheets/resume-old.sass */
h1 {
  line-height: 1.2;
  font-size: 2.5em;
}

/* line 23, content/stylesheets/resume-old.sass */
h2 {
  margin-bottom: 1em;
  font-weight: bold;
  line-height: 1.5;
  font-size: 2em;
}

/* line 29, content/stylesheets/resume-old.sass */
h3 {
  line-height: 1.25;
  font-weight: 500;
  margin-bottom: 1.25em;
  font-size: 1.2em;
}

/* line 35, content/stylesheets/resume-old.sass */
h4 {
  line-height: 1.25;
  margin-bottom: 1.25em;
  font-weight: bold;
  font-size: 1.2em;
}

/* line 41, content/stylesheets/resume-old.sass */
h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em;
  font-weight: 700;
}

/* line 47, content/stylesheets/resume-old.sass */
h6 {
  font-size: 1em;
  font-weight: bold;
}

/* line 51, content/stylesheets/resume-old.sass */
h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {
  margin: 0;
}

/* line 54, content/stylesheets/resume-old.sass */
p {
  margin: 0 0 1.5em;
}
/* line 57, content/stylesheets/resume-old.sass */
p img.left {
  float: left;
  padding: 0;
  margin-right: 1.5em;
  margin-left: 0;
  margin-bottom: 1.5em;
}
/* line 63, content/stylesheets/resume-old.sass */
p img.right {
  float: right;
  margin-right: 0;
  margin-left: 1.5em;
  margin-bottom: 1.5em;
}

/* line 69, content/stylesheets/resume-old.sass */
a {
  color: #3f372d;
  text-decoration: none;
  border-bottom: 2px solid #9d896f;
}
/* line 70, content/stylesheets/resume-old.sass */
a:focus, a:hover {
  color: black;
  border-bottom: 2px solid #655948;
}
/* line 76, content/stylesheets/resume-old.sass */
a.image, a.heading {
  border-bottom-style: none;
}

/* line 79, content/stylesheets/resume-old.sass */
strong {
  font-weight: bold;
}

/* line 83, content/stylesheets/resume-old.sass */
li ul, li ol {
  margin: 0;
}

/* line 86, content/stylesheets/resume-old.sass */
ul, ol {
  margin: 0 1.5em 1.5em 0;
  padding-left: 3.333em;
}

/* line 90, content/stylesheets/resume-old.sass */
ul {
  list-style-type: disc;
}

/* line 93, content/stylesheets/resume-old.sass */
ol {
  list-style-type: decimal;
}

/* line 98, content/stylesheets/resume-old.sass */
body {
  color: #3d423d;
  font-family: "myriad pro", "Lucida Grande", Lucida, Verdana, sans-serif;
  background: #fbffc4 no-repeat center top;
}

/* line 103, content/stylesheets/resume-old.sass */
.container {
  width: 600px;
  margin: 0 auto;
}

/* line 109, content/stylesheets/resume-old.sass */
.section {
  width: 100%;
}
/* line 111, content/stylesheets/resume-old.sass */
.section .container {
  padding-bottom: 1em;
  overflow: auto;
  padding-top: 1.5em;
}

/* line 118, content/stylesheets/resume-old.sass */
#super {
  background-color: #2c2c29;
}
/* line 120, content/stylesheets/resume-old.sass */
#super h1 {
  color: white;
  text-shadow: black 0 1px 0;
}
/* line 123, content/stylesheets/resume-old.sass */
#super h3 {
  color: white;
  text-shadow: black 0 1px 0;
  margin-bottom: 0.5em;
}
/* line 127, content/stylesheets/resume-old.sass */
#super p, #super a {
  color: #d1d4ae;
}
/* line 129, content/stylesheets/resume-old.sass */
#super .avatar {
  float: left;
  border: 8px solid #343430;
  margin-right: 2em;
}

/* line 136, content/stylesheets/resume-old.sass */
#overview {
  background-color: #4b5e61;
  border-bottom: 1px solid #364446;
}
/* line 139, content/stylesheets/resume-old.sass */
#overview h2, #overview p, #overview a {
  color: white;
  text-shadow: #265625 0 1px 0;
}
/* line 142, content/stylesheets/resume-old.sass */
#overview h2 {
  color: #cedcdf;
}
/* line 144, content/stylesheets/resume-old.sass */
#overview a {
  border-bottom: 2px solid #cedcdf;
}
/* line 146, content/stylesheets/resume-old.sass */
#overview a.image, #overview a.heading {
  border-bottom-style: none;
}

/* line 149, content/stylesheets/resume-old.sass */
#abilities {
  background-color: #bdc092;
  border-bottom: 1px solid #a0a37c;
}

/* line 155, content/stylesheets/resume-old.sass */
.projects {
  float: left;
  width: 585px;
  clear: both;
}
/* line 159, content/stylesheets/resume-old.sass */
.projects .intro {
  width: 235px;
  padding-right: 50px;
  float: left;
}
/* line 164, content/stylesheets/resume-old.sass */
.projects .thumb {
  float: left;
  margin-right: 8px;
  margin-bottom: 15px;
}
/* line 168, content/stylesheets/resume-old.sass */
.projects .thumb img {
  border: 3px solid #dfe2ac;
}

/* line 171, content/stylesheets/resume-old.sass */
#tools {
  background-color: #fcffe1;
  border-top: 1px solid #c9cc9d;
}

/* line 175, content/stylesheets/resume-old.sass */
.details {
  float: left;
  width: 535px;
  padding-top: 6em;
}
